@model Arbeidstider.Web.Framework.ViewModels.Error.ErrorModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Arbeidstider.no &bull; Logg inn</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <meta content='text/html;charset=utf-8' http-equiv='content-type'>
        <meta content='Opptimaliserte vaktlister på nett' name='description'>
        @Html.Partial("Assets")
    </head>
    <body class='contrast-red application-error @model.StatusCode"-error contrast-background'>
        <div id='wrapper'>
            @RenderBody()
        </div>
        @Html.Partial("BottomAssets")
      </body>
</html>
